{% load static %}
<!doctype html>
<html class="h-100" lang="en-US">
	<title>
		The Great Avocado War of '24
	</title>
	<body class="d-flex flex-column h-100">
		<head>
			<link href='{% static "ft_transcendence.css" %}' rel="stylesheet" />
			<link href='{% static "bootstrap/css/bootstrap.css" %}' rel="stylesheet">
			<script src='{% static "popper/popper.min.js" %}'>
			</script>
			<script src='{% static "bootstrap/js/bootstrap.js" %}'>
			</script>
			<script type="importmap">
			{
				"imports":
				{
					"three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
					"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/"
				}
			}
			</script>
		</head>
		{% include 'navbar.html' %}
		<div class="content d-flex flex-column flex-grow-1 flex-shrink-1 m-auto mh-100 mw-100" id="content">
			<div class="d-flex m-1" id="current-match">
				<div class="d-flex m-1 w-50">
					<img class="mx-1 my-auto object-fit-cover rounded-circle" height="22" id="contestant1-avatar" src='{% static "img/22/im-user.svg" %}' style="aspect-ratio: 1/1;">
					<div class="ms-1 my-auto" id="contestant1">
						Guest
					</div>
					<div class="me-1 my-auto" id="contestant1-score">
					</div>
					<button class="border button d-flex m-1 rounded shadow-sm" id="contestant1-victory" type="button">
						<div class="my-auto">
							Give victory
						</div>
					</button>
				</div>
				<div class="d-flex m-1 w-50">
					<img class="me-1 ms-auto my-auto object-fit-cover rounded-circle" height="22" id="contestant2-avatar" src='{% static "img/22/im-user.svg" %}' style="aspect-ratio: 1/1;">
					<div class="ms-1 my-auto" id="contestant2">
						Guest
					</div>
					<div class="me-1 my-auto" id="contestant2-score">
					</div>
					<button class="border button d-flex m-1 rounded shadow-sm" id="contestant2-victory" type="button">
						<div class="my-auto">
							Give victory
						</div>
					</button>
				</div>
			</div>
			<div class="content-body flex-grow-1 flex-shrink-1 m-1 mh-100 mt-0" id="container">
			</div>
		</div>
		<div aria-hidden="true" aria-labelledby="results" class="modal fade" data-bs-backdrop="static" id="results" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="bg-body border modal-content p-1 rounded">
					<div class="modal-header p-1">
						<h2 class="m-1 pe-none" id="results-title">
							Results
						</h2>
					</div>
					<div class="d-flex flex-column m-1 modal-body overflow-hidden p-0">
						<div class="border d-flex flex-column frame m-1 overflow-hidden p-1 rounded">
							<h4 class="my-1 mx-auto text-center" id="result">
							</h4>
							<h6 class="my-1 mx-auto" id="next-match">
							</h6>
						</div>
					</div>
					<div class="modal-footer p-1">
						<button class="border button d-flex m-1 ms-auto rounded shadow-sm" data-bs-dismiss="modal" id="tournament-start-match" type="button">
							<img class="m-1" height="22" src='{% static "img/22/media-playback-start.svg" %}'>
							<div class="my-auto" id="tournament-start-match-label">
								Next Match
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
		{% include 'about.html' %}
		{% include 'login_popup.html' %}
		{% include 'register_popup.html' %}
		{% include 'tournament.html' %}
	</body>
	<script src='{% static "authentification.js" %}' type="module"></script>
	<script src='{% static "friend_list.js" %}' type = "module"></script>
	<script type="module">
		import
		{
			loadSavedParameters,
			saveParameter,
			switchLanguage
		}
		from '{% static "frontend/game/gui.js" %}';

		import
		{
			g
		}
		from '{% static "frontend/game/globals.js" %}';

		import
		{
			add_item,
			banner_close,
			banner_open,
			h,
			english,
			french,
			ukrainian,
			login_complete,
			login_validate,
			pause,
			register_open,
			register_validate,
			result,
			sanitize,
			start_match,
			tournament_open,
			tournament_start,
			unpause,
			unsanitize
		} from '{% static "ft_transcendence.js" %}';

		window.onload = function()
		{
			language_select.reset();
			/*{% if user.is_authenticated %}*/
				h.username = "{{ user.username }}";
				login_complete();
			/*{% endif %}*/
		};

		document.querySelector("#about").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#about").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		if (document.querySelector("#avatar"))
		{
			document.querySelector("#avatar").onchange = function ()
			{
				var	reader = new FileReader();

				reader.onload = function (e)
				{
					document.querySelector("#profile-avatar").src = e.target.result;
					document.querySelector("#profile-avatar-mini").src = e.target.result;
					if (h.contestant1 == h.username)
						document.querySelector("#contestant1-avatar").src = e.target.result;
					if (h.contestant2 == h.username)
						document.querySelector("#contestant2-avatar").src = e.target.result;
				};
				reader.readAsDataURL(this.files[0]);
				document.querySelector("#avatar-name").value = this.files[0].name;
			};
		}

		document.querySelector("#contestant1-victory").addEventListener("click", function(e)
		{
			e.preventDefault();
			result(1);
		});

		document.querySelector("#contestant2-victory").addEventListener("click", function(e)
		{
			e.preventDefault();
			result(2);
		});

		document.querySelector("#english").addEventListener("change", function(e)
		{
			e.preventDefault();
			english();
		});

		document.querySelector("#french").addEventListener("change", function(e)
		{
			e.preventDefault();
			french();
		});

		{% if user.is_authenticated %}
			document.querySelector("#imageFile").onchange = function ()
			{
				document.querySelector("#profile-avatar-form").submit();
			};

			document.querySelector("#profile-banner-close").addEventListener("click", function(e)
			{
				e.preventDefault();
				banner_close('#profile-banner');
			});

			//document.querySelector("#profile-list-add").addEventListener("click", function(e)
			//{
			//	e.preventDefault();
			//	add_item("profile", null);
			//	if (h.language == "english")
			//		document.querySelector("#profile-friends-count").innerHTML = "Friends: " + h.friends_array.length;
			//	else if (h.language == "french")
			//		document.querySelector("#profile-friends-count").innerHTML = "Amis: " + h.friends_array.length;
			//	else if (h.language == "ukrainian")
			//		document.querySelector("#profile-friends-count").innerHTML = "Друзі: " + h.friends_array.length;
			//});

			document.querySelector("#profile-name-edit").addEventListener("click", function(e)
			{
				e.preventDefault();
				document.querySelector("#profile-name-container").classList.remove("position-relative");
				document.querySelector("#profile-name-inside").classList.add("d-none");
				document.querySelector("#profile-name-input").value = unsanitize(h.username);
				document.querySelector("#profile-name-input-container").classList.remove("d-none");
			});

			document.querySelector("#profile-name-input-button").addEventListener("click", function(e)
			{
				e.preventDefault();
				name = sanitize(document.querySelector("#profile-name-input").value);
				if (name == "")
					return ;
				document.querySelector("#profile-name-inside").innerHTML = name;
				if (h.contestant1 == h.username)
				{
					h.contestant1 = name;
					document.querySelector("#contestant1").innerHTML = h.contestant1;
				}
				if (h.contestant2 == h.username)
				{
					h.contestant2 = name;
					document.querySelector("#contestant2").innerHTML = h.contestant2;
				}
				h.username = name;
				document.querySelector("#profile-name-container").classList.add("position-relative");
				document.querySelector("#profile-name-inside").classList.remove("d-none");
				document.querySelector("#profile-name-input-container").classList.add("d-none");
			});
		{% endif %}

		document.querySelector("#ukrainian").addEventListener("change", function(e)
		{
			e.preventDefault();
			ukrainian();
		});

		document.querySelector("#login").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#login").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#login-banner-close").addEventListener("click", function(e)
		{
			e.preventDefault();
			banner_close('#login-banner');
		});

		document.querySelector("#pause").addEventListener("click", function(e)
		{
			e.preventDefault();
			h.paused = true;
			pause();
			this.classList.remove("d-flex");
			this.classList.add("d-none");
			document.querySelector("#play").classList.remove("d-none");
			document.querySelector("#play").classList.add("d-flex");
		});

		document.querySelector("#play").addEventListener("click", function(e)
		{
			e.preventDefault();
			h.paused = false;
			unpause();
			this.classList.remove("d-flex");
			this.classList.add("d-none");
			document.querySelector("#pause").classList.remove("d-none");
			document.querySelector("#pause").classList.add("d-flex");
		});

		document.querySelector("#register").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#register").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		if (document.querySelector("#register-banner-close"))
		{
			document.querySelector("#register-banner-close").addEventListener("click", function(e)
			{
				e.preventDefault();
				banner_close('#register-banner');
			});
		}

		document.querySelector("#register-button").addEventListener("click", function(e)
		{
			e.preventDefault();
			register_open();
		});

		if (document.querySelector("#register-ok"))
		{
			document.querySelector("#register-ok").addEventListener("click", function(e)
			{
				e.preventDefault();
				register_validate();
			});
		}

		document.querySelector("#results").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#results").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#tournament").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#tournament").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#tournament-banner-close").addEventListener("click", function(e)
		{
			e.preventDefault();
			banner_close('#tournament-banner');
		});

		document.querySelector("#tournament-button").addEventListener("click", function(e)
		{
			e.preventDefault();
			tournament_open();
		});

		document.querySelector("#tournament-list-add").addEventListener("click", function(e)
		{
			e.preventDefault();
			add_item("tournament", null);
		});

		document.querySelector("#tournament-start").addEventListener("click", function(e)
		{
			e.preventDefault();
			tournament_start();
		});

		document.querySelector("#tournament-start-match").addEventListener("click", function(e)
		{
			e.preventDefault();
			start_match();
		});
	</script>
	<script src='{% static "frontend/game/main.js" %}' type="module">
	</script>
</html>
