{% load static %}
<!doctype html>
<html class="h-100" lang="en-US">
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<title>
		The Great Avocado War of '24
	</title>
	<body class="d-flex flex-column h-100">
		<head>
			<link href='{% static "ft_transcendence.css" %}' rel="stylesheet" />
			<link href='{% static "bootstrap/css/bootstrap.css" %}' rel="stylesheet">
			<script src='{% static "popper/popper.min.js" %}'>
			</script>
			<script src='{% static "bootstrap/js/bootstrap.js" %}'>
			</script>
			<script type="importmap">
			{
				"imports":
				{
					"three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
					"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/"
				}
			}
			</script>
			<script type="module">
				import {
					reject_friend_request,
					accept_friend_request,
					delete_friend
				} from '{% static "friend_list.js" %}';

				window.reject_friend_request = reject_friend_request;
				window.accept_friend_request = accept_friend_request;
				window.delete_friend = delete_friend;
			</script>
		</head>
		{% include 'navbar.html' %}
		<div class="content d-flex flex-column flex-grow-1 flex-shrink-1 m-auto mh-100 mw-100" id="content">
			<div class="d-flex m-1" id="current-match">
				<div class="d-flex m-1 w-50">
					<img class="mx-1 my-auto object-fit-cover rounded-circle" height="22" id="contestant1-avatar" src='{% static "img/22/im-user.svg" %}' style="aspect-ratio: 1/1;">
					<div class="ms-1 my-auto pe-none" id="contestant1">
						Guest
					</div>
					<div class="me-1 my-auto pe-none" id="contestant1-score">
					</div>
					<button class="border button d-flex m-1 rounded shadow-sm" id="contestant1-victory" type="button">
						<div class="my-auto">
							Give victory
						</div>
					</button>
				</div>
				<div class="d-flex m-1 w-50">
					<img class="me-1 ms-auto my-auto object-fit-cover rounded-circle" height="22" id="contestant2-avatar" src='{% static "img/22/im-user.svg" %}' style="aspect-ratio: 1/1;">
					<div class="ms-1 my-auto pe-none" id="contestant2">
						Guest
					</div>
					<div class="me-1 my-auto" id="contestant2-score">
					</div>
					<button class="border button d-flex m-1 rounded shadow-sm" id="contestant2-victory" type="button">
						<div class="my-auto pe-none">
							Give victory
						</div>
					</button>
				</div>
			</div>
			<div class="content-body flex-grow-1 flex-shrink-1 m-1 mh-100 mt-0" id="container">
			</div>
		</div>
		<div aria-hidden="true" aria-labelledby="delete-confirm" class="modal fade" id="delete-confirm" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="bg-body border modal-content p-1 rounded">
					<div class="modal-header p-1">
						<h2 class="m-1 pe-none" id="delete-confirm-title">
							Are you sure?
						</h2>
					</div>
					<div class="d-flex flex-column m-1 modal-body overflow-hidden p-0">
						<div class="border d-flex flex-column frame m-1 overflow-hidden p-1 rounded">
							<h4 class="m-1" id="delete-confirm-body">
								Account deletion is irreversible.
							</h4>
						</div>
					</div>
					<div class="modal-footer p-1">
						<button class="border button d-flex m-1 ms-auto rounded shadow-sm" data-bs-dismiss="modal" type="button">
							<img class="me-1" height="22" src='{% static "img/22/dialog-cancel.svg" %}'>
							<div class="my-auto" id="delete-confirm-cancel">
								Cancel
							</div>
						</button>
						<form action="delete_account" method="post">
							{% csrf_token %}
							<button class="border button d-flex m-1 ms-auto rounded shadow-sm" id="profile-delete" type="submit">
								<img class="me-1" height="22" src='{% static "img/22/edit-delete.svg" %}'>
								<div class="my-auto" id="delete-confirm-delete">
									Delete Account
								</div>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div aria-hidden="true" aria-labelledby="password-change" class="modal fade" id="password-change" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="bg-body border modal-content p-1 rounded">
					<div class="modal-header p-1">
						<h2 class="m-1 pe-none" id="password-change-title">
							Change Password
						</h2>
					</div>
					<form id="password-change-form" method="post">
					{% csrf_token %}
						<div class="d-flex flex-column m-1 modal-body overflow-hidden p-0">
							<div class="border d-flex flex-column frame m-1 overflow-hidden p-0 rounded">
								<div class="d-flex overflow-hidden p-0 warning-banner" id="password-change-banner" style="max-height: 0">
									<div class="me-auto ms-1 my-auto pe-1 pe-none" id="password-change-banner-text">
									</div>
									<button class="border borderless-button d-flex p-0 rounded" id="password-change-banner-close" type="button">
										<img class="m-1" height="22" src='{% static "img/22/window-close.svg" %}'>
									</button>
								</div>
								<div class="d-flex m-3">
									<div class="d-flex flex-column">
										<div class="my-auto pe-none text-end text-nowrap" id="password-change-old-label">
											Current Password:
										</div>
										<div class="my-auto pe-none text-end text-nowrap" id="password-change-new-label">
											New Password:
										</div>
										<div class="my-auto pe-none text-end text-nowrap" id="password-change-new2-label">
											Confirm Password:
										</div>
									</div>
									<div class="d-flex flex-column w-100">
										<input class="border m-1 p-1 rounded w-100" id="password-change-old" name="password" type="password">
										<input class="border m-1 p-1 rounded w-100" id="password-change-new" name="newpassword" type="password">
										<input class="border m-1 p-1 rounded w-100" id="password-change-new2" name="newpassword2" type="password">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer p-1">
							<button class="border button d-flex m-1 ms-auto rounded shadow-sm" data-bs-dismiss="modal" type="button">
								<img class="me-1" height="22" src='{% static "img/22/dialog-cancel.svg" %}'>
								<div class="my-auto" id="password-change-cancel">
									Cancel
								</div>
							</button>
							<button class="border button d-flex m-1 rounded shadow-sm" id="password-change-finish" type="submit">
								<img class="me-1" height="22" src='{% static "img/22/dialog-password.svg" %}'>
								<div class="my-auto" id="password-change-confirm">
									Change Password
								</div>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div aria-hidden="true" aria-labelledby="results" class="modal fade" data-bs-backdrop="static" id="results" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="bg-body border modal-content p-1 rounded">
					<div class="modal-header p-1">
						<h2 class="m-1 pe-none" id="results-title">
							Results
						</h2>
					</div>
					<div class="d-flex flex-column m-1 modal-body overflow-hidden p-0">
						<div class="border d-flex flex-column frame m-1 overflow-hidden p-1 rounded">
							<h4 class="my-1 mx-auto text-center" id="result">
							</h4>
							<h6 class="my-1 mx-auto" id="next-match">
							</h6>
						</div>
					</div>
					<div class="modal-footer p-1">
						<button class="border button d-flex m-1 ms-auto rounded shadow-sm" data-bs-dismiss="modal" id="tournament-start-match" type="button">
							<img class="me-1" height="22" src='{% static "img/22/media-playback-start.svg" %}'>
							<div class="my-auto" id="tournament-start-match-label">
								Next Match
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
		{% include 'about.html' %}
		{% include 'login_popup.html' %}
		{% include 'register_popup.html' %}
		{% include 'tournament.html' %}
	</body>
	<script src='{% static "authentification.js" %}' type="module"></script>
	<script type="module">
		import
		{
			loadSavedParameters,
			saveParameter,
			switchLanguage
		}
		from '{% static "frontend/game/gui.js" %}';

		import
		{
			g
		}
		from '{% static "frontend/game/globals.js" %}';

		import
		{
			add_item,
			banner_close,
			banner_open,
			h,
			login_complete,
			login_validate,
			pause,
			register_open,
			register_validate,
			result,
			sanitize,
			start_match,
			tournament_open,
			tournament_start,
			unpause,
			unsanitize
		} from '{% static "ft_transcendence.js" %}';

		import
		{
			english,
			french,
			ukrainian
		} from '{% static "./js/translation.js" %}';

		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Trouve le cookie avec le nom spécifié
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		window.onload = function()
		{
			language_select.reset();
			/*{% if user.is_authenticated %}*/
				if ('{{ user.get_image_profile_url }}' == "/media/default_profile_image.jpg")
				{
					document.querySelector("#profile-avatar").src = '{% static "img/openart-image_Gsv7dBEX_1717776600275_raw.jpg" %}';
					document.querySelector("#profile-avatar-mini").src = '{% static "img/openart-image_Gsv7dBEX_1717776600275_raw.jpg" %}';
					if (h.contestant1 == h.username)
						document.querySelector("#contestant1-avatar").src = '{% static "img/openart-image_Gsv7dBEX_1717776600275_raw.jpg" %}';
					if (h.contestant2 == h.username)
						document.querySelector("#contestant2-avatar").src =  '{% static "img/openart-image_Gsv7dBEX_1717776600275_raw.jpg" %}';
				}
				h.username = "{{ user.username }}";
				login_complete();
			/*{% endif %}*/
			const savedLanguage = localStorage.getItem('userLanguage');
			if (savedLanguage) {
				if (savedLanguage == 'english') {
					english();
				} else if (savedLanguage == 'french') {
					french();
				} else if (savedLanguage == 'ukrainian') {
					ukrainian();
				}
    		} else {
				localStorage.setItem('userLanguage', 'english');
    		}
		};

		document.querySelector("#about").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#about").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		if (document.querySelector("#avatar"))
		{
			document.querySelector("#avatar").onchange = function ()
			{
				var	reader = new FileReader();

				reader.onload = function (e)
				{
					document.querySelector("#profile-avatar").src = e.target.result;
					document.querySelector("#profile-avatar-mini").src = e.target.result;
					if (h.contestant1 == h.username)
						document.querySelector("#contestant1-avatar").src = e.target.result;
					if (h.contestant2 == h.username)
						document.querySelector("#contestant2-avatar").src = e.target.result;
				};
				reader.readAsDataURL(this.files[0]);
				document.querySelector("#avatar-name").value = this.files[0].name;
			};
		}

		document.querySelector("#password-change-form").addEventListener("submit", function(e)
		{
			e.preventDefault();
			if (document.querySelector("#password-change-old").value == "" || document.querySelector("#password-change-new").value == "")
			{
				if (h.language == "english")
					banner_open("No password provided.", "#password-change-banner");
				else if (h.language == "french")
					banner_open("Aucun mot de pass fourni.", "#password-change-banner");
				else if (h.language == "ukrainian")
					banner_open("Пароль не надано.", "#password-change-banner");
				return ;
			}
			else if (document.querySelector("#password-change-new").value != document.querySelector("#password-change-new2").value)
			{
				if (h.language == "english")
					banner_open("Passwords do not match.", "#password-change-banner");
				else if (h.language == "french")
					banner_open("Vos mots de passes ne correspondent pas.", "#password-change-banner");
				else if (h.language == "ukrainian")
					banner_open("Паролі не збігаються.", "#password-change-banner");
				return ;
			}
			

			var formData = new FormData(this);
			fetch("change_password", {method: 'POST', body: formData,
			headers: {
				'X-Requested-With': 'XMLHttpRequest',
				'X-CSRFToken': '{% csrf_token %}'
			}
			})
			.then(response => response.json())
			.then(data => {
				if (data.error) {
					banner_open(data.error, "#password-change-banner");
				} else {
					window.location.href = "";
				}
			}).catch(error => {console.error('Error:', error);});
		});

		document.querySelector("#contestant1-victory").addEventListener("click", function(e)
		{
			e.preventDefault();
			result(1);
		});

		document.querySelector("#contestant2-victory").addEventListener("click", function(e)
		{
			e.preventDefault();
			result(2);
		});

		document.querySelector("#delete-confirm").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#delete-confirm").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#english").addEventListener("change", function(e)
		{
			e.preventDefault();
			english();
		});

		document.querySelector("#french").addEventListener("change", function(e)
		{
			e.preventDefault();
			french();
		});

		{% if user.is_authenticated %}
			document.querySelector("#imageFile").onchange = function ()
			{
				document.querySelector("#profile-avatar-form").submit();
			};

			document.querySelector("#profile-history-checkbox").addEventListener("change", function(e)
			{
				if (document.querySelector("#profile-history-checkbox").checked == true)
				{
					h.is_tracking_disabled = false;
					document.querySelector("#profile-history-button").classList.remove("d-none");
				}
				else
				{
					h.is_tracking_disabled = true;
					document.querySelector("#profile-history-button").classList.add("d-none");
				}
			});

			document.querySelector("#profile-banner-close").addEventListener("click", function(e)
			{
				e.preventDefault();
				banner_close('#profile-banner');
			});

			document.querySelector("#profile-name-banner-close").addEventListener("click", function(e)
			{
				e.preventDefault();
				banner_close('#profile-name-banner');
			});

			document.querySelector("#profile-name-edit").addEventListener("click", function(e)
			{
				e.preventDefault();
				document.querySelector("#profile-name-container").classList.remove("position-relative");
				document.querySelector("#profile-name-inside").classList.add("d-none");
				document.querySelector("#profile-name-input").value = unsanitize(h.username);
				document.querySelector("#profile-name-input-container").classList.remove("d-none");			
			});

			document.querySelector("#profile-name-input-button").addEventListener("click", function(e)
			{
				e.preventDefault();
				name = sanitize(document.querySelector("#profile-name-input").value);
				if (name == "")
				{
					if (h.language == "english")
						banner_open("Username cannot be empty." ,"#profile-name-banner");
					else if (h.language == "french")
						banner_open("Le nom d'utilisateur ne peut pas être vide." ,"#profile-name-banner");
					else if (h.language == "ukrainian")
						banner_open("Ім'я користувача не може бути пустим." ,"#profile-name-banner");
					return ;
				}
				var url = `/change_username`; 
				fetch(url, {
					method: 'POST',
					headers: {
						'X-CSRFToken': getCookie('csrftoken')
					},
					body: JSON.stringify( { newname: name })
				}).then(response => response.json())
				.then(data => {
					if (data.error) {
						banner_open(data.error, "#profile-name-banner");
					} else {
						window.location.href = "";
					}
				}).catch(error => {console.error('Error:', error);});
				document.querySelector("#profile-name-container").classList.add("position-relative");
				document.querySelector("#profile-name-inside").classList.remove("d-none");
				document.querySelector("#profile-name-input-container").classList.add("d-none");
			});
		{% endif %}

		document.querySelector("#login").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#login").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#login-banner-close").addEventListener("click", function(e)
		{
			e.preventDefault();
			banner_close('#login-banner');
		});

		document.querySelector("#password-change").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#password-change").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#password-change-banner-close").addEventListener("click", function(e)
		{
			e.preventDefault();
			banner_close('#password-change-banner');
		});

		document.querySelector("#pause").addEventListener("click", function(e)
		{
			e.preventDefault();
			h.paused = true;
			pause();
			this.classList.remove("d-flex");
			this.classList.add("d-none");
			document.querySelector("#play").classList.remove("d-none");
			document.querySelector("#play").classList.add("d-flex");
		});

		document.querySelector("#play").addEventListener("click", function(e)
		{
			e.preventDefault();
			h.paused = false;
			unpause();
			this.classList.remove("d-flex");
			this.classList.add("d-none");
			document.querySelector("#pause").classList.remove("d-none");
			document.querySelector("#pause").classList.add("d-flex");
		});

		document.querySelector("#register").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#register").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		if (document.querySelector("#register-banner-close"))
		{
			document.querySelector("#register-banner-close").addEventListener("click", function(e)
			{
				e.preventDefault();
				banner_close('#register-banner');
			});
		}

		document.querySelector("#register-button").addEventListener("click", function(e)
		{
			e.preventDefault();
			register_open();
		});

		if (document.querySelector("#register-ok"))
		{
			document.querySelector("#register-ok").addEventListener("click", function(e)
			{
				e.preventDefault();
				register_validate();
			});
		}

		document.querySelector("#results").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#results").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#tournament").addEventListener("hidden.bs.modal", function(e)
		{
			e.preventDefault();
			unpause();
		});

		document.querySelector("#tournament").addEventListener("shown.bs.modal", function(e)
		{
			e.preventDefault();
			pause();
		});

		document.querySelector("#tournament-banner-close").addEventListener("click", function(e)
		{
			e.preventDefault();
			banner_close('#tournament-banner');
		});

		document.querySelector("#tournament-button").addEventListener("click", function(e)
		{
			e.preventDefault();
			tournament_open();
		});

		document.querySelector("#tournament-list-add").addEventListener("click", function(e)
		{
			e.preventDefault();
			add_item("tournament", null);
		});

		document.querySelector("#tournament-start").addEventListener("click", function(e)
		{
			e.preventDefault();
			tournament_start();
		});

		document.querySelector("#tournament-start-match").addEventListener("click", function(e)
		{
			e.preventDefault();
			start_match();
		});

		document.querySelector("#ukrainian").addEventListener("change", function(e)
		{
			e.preventDefault();
			ukrainian();
		});
	</script>
	<script src='{% static "frontend/game/main.js" %}' type="module">
	</script>
</html>
