{% load static %}
<nav class="bg-body-tertiary border-bottom navbar navbar-expand-lg py-0 shadow-sm">
	<div class="container-fluid px-0">
		<ul class="flex-row me-auto navbar-nav">
			<li class="border d-flex nav-item py-1 rounded text-nowrap" data-bs-target="#about" data-bs-toggle="modal" id="about-button" title="About">
				<img height="22" src='{% static "img/22/help-about.svg" %}'>
				<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="about-label">
					About
				</a>
			</li>
			<li class="dropdown">
				<button aria-expanded="false" class="bg-body-tertiary border d-flex nav-item py-1 rounded text-nowrap" data-bs-toggle="dropdown" id="language-button" title="Language">
					<img height="22" src='{% static "img/22/preferences-desktop-locale.svg" %}'>
					<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="language-label">
						Language
					</a>
					<img class="ms-1 my-auto" height="16" src='{% static "img/16/go-down.svg" %}'>
				</button>
				<form class="border dropdown-menu frame position-absolute rounded" id="language-select" name="language_select" style="padding: 3px !important;">
					<label class="d-flex form-check m-0 p-0 rounded" for="english">
						<input checked id="english" name="language" type="radio">
						<label class="form-check-label" for="english">
							English
						</label>
					</label>
					<label class="d-flex form-check m-0 p-0 rounded" for="french">
						<input id="french" name="language" type="radio">
						<label class="form-check-label" for="french">
							Français
						</label>
					</label>
					<label class="d-flex form-check m-0 p-0 rounded" for="ukrainian">
						<input id="ukrainian" name="language" type="radio">
						<label class="form-check-label" for="ukrainian">
							Українська
						</label>
					</label>
				</form>
			</li>
			<li class="border d-flex nav-item py-1 rounded text-nowrap" id="pause" title="Pause">
				<img height="22" src='{% static "img/22/media-playback-pause.svg" %}'>
				<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="pause-label">
					Pause
				</a>
			</li>
			<li class="border d-none nav-item py-1 rounded text-nowrap" id="play" title="Play">
				<img height="22" src='{% static "img/22/media-playback-start.svg" %}'>
				<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="play-label">
					Play
				</a>
			</li>
			<li class="border d-flex nav-item py-1 rounded text-nowrap" id="tournament-button" title="Tournament">
				<img height="22" src='{% static "img/22/view-list-tree.svg" %}'>
				<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="tournament-label">
					Tournament
				</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			{% if not user.is_authenticated %}
				<li class="border d-flex nav-item py-1 rounded text-nowrap" data-bs-target="#login" data-bs-toggle="modal" id="login-button" title="Log in">
					<img height="22" src='{% static "img/22/network-connect.svg" %}'>
					<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="login-label">
						Log in
					</a>
				</li>
			{% else %}
				<li class="dropdown" id="profile-button">
					<button aria-expanded="false" class="bg-body-tertiary border d-flex nav-item py-1 rounded text-nowrap" data-bs-auto-close="outside" data-bs-toggle="dropdown" title="Profile">
						<img class="object-fit-cover rounded-circle" height="22" id="profile-avatar-mini" src='{{ user.get_image_profile_url }}' style="aspect-ratio: 1/1;">
						<a aria-current="page" class="active ms-1 my-auto nav-link p-0" id="profile-name">
							{{ user.username }}
						</a>
						<img class="ms-1 my-auto" height="16" src='{% static "img/16/go-down.svg" %}'>
					</button>
					<ul class="border dropdown-menu dropdown-menu-end frame p-0 position-absolute rounded">
						<div class="carousel slide" id="profile">
							<div class="carousel-inner">
								<div class="active carousel-item">
									<div class="d-flex overflow-hidden p-0 text-nowrap warning-banner" id="profile-name-banner" style="max-height: 0">
										<div class="me-auto ms-1 my-auto pe-1 pe-none" id="profile-name-banner-text">
										</div>
										<button class="border borderless-button d-flex p-0 rounded" id="profile-name-banner-close" type="button">
											<img class="m-1" height="22" src='{% static "img/22/window-close.svg" %}'>
										</button>
									</div>
									<div class="m-2">
										<div class="mb-1 position-relative">
											<img class="mx-auto mw-100 object-fit-cover rounded-circle w-100" id="profile-avatar" src='{{ user.get_image_profile_url }}' style="aspect-ratio: 1/1;">
											<form action="/upload_image" enctype="multipart/form-data" id="profile-avatar-form" method="post">
												{% csrf_token %}
												<label class="border button d-none position-absolute end-0 rounded shadow-sm top-0" for="imageFile">
													<img height="22" src='{% static "img/22/document-edit.svg" %}'>
												</label>
												<input accept="image/png, image/jpeg" class="d-none" id="imageFile" name="imageFile" type="file">
											</form>
										</div>
										<div class="position-relative" style="height: 34px;" id="profile-name-container">
											<h3 class="mx-auto my-0 pe-none text-nowrap" id="profile-name-inside">
												{{ user.username }}
											</h3>
											<div class="d-flex d-none" id="profile-name-input-container">
												<input class="border me-1 p-1 rounded w-100" id="profile-name-input" type="text">
												<button class="border button ms-1 rounded shadow-sm" id="profile-name-input-button">
													<img height="22" src='{% static "img/22/dialog-ok-apply.svg" %}'>
												</button>
											</div>
											<button class="border button d-none position-absolute end-0 rounded shadow-sm top-0" id="profile-name-edit">
												<img height="22" src='{% static "img/22/document-edit.svg" %}'>
											</button>
										</div>
										<progress class="border-0 rounded w-100" id="profile-bar" max="100" value="50">
										</progress>
										<div class="d-flex">
											<div class="pe-none m-1" id="profile-wins">
												0 Wins
											</div>
											<div class="me-1 ms-auto my-1 pe-none" id="profile-losses">
												0 Losses
											</div>
										</div>
										<button class="border button d-flex my-1 ms-auto rounded shadow-sm w-100" data-bs-slide-to="1" data-bs-target="#profile" id="profile-history-button" type="button">
											<img class="me-1 ms-auto" height="22" src='{% static "img/22/appointment-new.svg" %}'>
											<div class="me-auto my-auto text-nowrap" id="profile-history">
												Match History
											</div>
											<img class="ms-1 my-auto" height="16" src='{% static "img/16/go-next.svg" %}'>
										</button>
										<div class="d-flex mx-auto my-1 pe-none" id="profile-friends-count">
											Friends: 0
										</div>
										<button class="border button d-flex m-1 ms-auto rounded shadow-sm w-100" data-bs-slide-to="2" data-bs-target="#profile" type="button">
											<img class="me-1 ms-auto" height="22" src='{% static "img/22/address-book-new.svg" %}'>
											<div class="me-auto my-auto text-nowrap" id="profile-friends">
												Manage Friends
											</div>
											<img class="ms-1 my-auto" height="16" src='{% static "img/16/go-next.svg" %}'>
										</button>
										<button class="border button d-flex m-1 ms-auto rounded shadow-sm w-100" data-bs-slide-to="3" data-bs-target="#profile" type="button">
											<img class="me-1 ms-auto" height="22" src='{% static "img/22/configure.svg" %}'>
											<div class="me-auto my-auto text-nowrap" id="profile-preferences">
												Preferences
											</div>
											<img class="ms-1 my-auto" height="16" src='{% static "img/16/go-next.svg" %}'>
										</button>
										<form action="{% url 'logout' %}" method="get">
											<button class="border button d-flex m-1 ms-auto rounded shadow-sm w-100" type="submit">
												<img class="me-1 ms-auto" height="22" src='{% static "img/22/system-log-out.svg" %}'>
												<div class="me-auto my-auto text-nowrap" id="profile-logout-label">
													Log out
												</div>
											</button>
										</form>
									</div>
								</div>
								<div class="carousel-item">
									<div class="bg-body-tertiary border-bottom d-flex p-2">
										<button class="border borderless-button d-flex mx-1 my-auto p-0 rounded" data-bs-slide-to="0" data-bs-target="#profile" type="button">
											<img class="m-1" height="22" src='{% static "img/22/go-previous.svg" %}'>
										</button>
										<h3 class="m-auto pe-none text-nowrap" id="profile-history-name">
											Match History
										</h3>
									</div>
									<table class="overflow-y-auto pe-none w-100" style="max-height: calc(100vh - 102px);">
										<thead>
											<tr>
												<th id="profile-history-time" scope="col">
													Time
												</th>
												<th id="profile-history-result" scope="col">
													Result
												</th>
												<th id="profile-history-type" scope="col">
													type
												</th>
												<th id="profile-history-score" scope="col">
													Score
												</th>
												<th id="profile-history-opponent" scope="col">
													Opponent
												</th>
											</tr>
										</thead>
										<tbody id="profile-log">
										</tbody>
									</table>
								</div>
								<div class="carousel-item" style="width: max-content;">
									<div class="bg-body-tertiary border-bottom d-flex p-2">
										<button class="border borderless-button d-flex mx-1 my-auto p-0 rounded" data-bs-slide-to="0" data-bs-target="#profile" type="button">
											<img class="m-1" height="22" src='{% static "img/22/go-previous.svg" %}'>
										</button>
										<h3 class="m-auto pe-none text-nowrap" id="profile-friends-name">
											Friends
										</h3>
									</div>
									<div class="d-flex overflow-hidden p-0 warning-banner" id="profile-banner" style="max-height: 0;">
										<div class="m-auto pe-none text-nowrap" id="profile-banner-text">
										</div>
										<button class="border borderless-button d-flex p-0 rounded" id="profile-banner-close" type="button">
											<img class="m-1" height="22" src='{% static "img/22/window-close.svg" %}'>
										</button>
									</div>
									<div class="overflow-y-auto over pe-2" style="min-width: min-content;" tabindex="-1">
										<div class="m-2 pe-2 w-100" style="min-width: min-content;">
											<form id="friend-request-form" class= "d-flex">
												{% csrf_token %}
												<input class="border m-1 p-1 rounded w-100" id="friend_to_add" name="friend_to_add" placeholder="Enter username" type="text">
												<button class="border button d-flex m-1 rounded shadow-sm" type="submit">
													<img height="22" src='{% static "img/22/list-add.svg" %}'>
												</button>
											</form>
											<div id="profile-list-friend-request" style="min-width: min-content;">
												{% for friend in friend_requests %}
													<div class="d-flex" style="min-width: min-content;" id = "myfriend_{{ friend.username }}">
														<!--<img class="mx-1 my-auto object-fit-cover rounded-circle" height="22" src="{{ friend.get_image_profile_url }}" style="aspect-ratio: 1;" title="Away" width="22">-->
														<div class="m-1 p-1 w-100" style="min-width: min-content;">
															{{ friend.username }} (pending)
															{% if friend.is_online %}
																(online)
															{% endif %}
														</div>
														<button class="border button d-flex delete m-1 rounded shadow-sm" type="submit" onclick="reject_friend_request('{{ friend.username }}',this)">
															<img class="icon" height="22" src="/static/img/22/list-remove.svg">
														</button>
													</div>
												{% endfor %}
											</div>
											{% for friend in friend_requesters %}
												<div class="d-flex" style="min-width: min-content;">
													<!--<img class="mx-1 my-auto object-fit-cover rounded-circle" height="22" src="{{ friend.get_image_profile_url }}" style="aspect-ratio: 1;" width="22">-->
													<div class="m-1 p-1 w-100" style="min-width: min-content;">
														{{ friend.username }}
														{% if friend.is_online %}
															(online)
														{% endif %}
													</div>
													<button class="border button d-flex delete m-1 rounded shadow-sm" type="submit" id="acceptButton" onclick="accept_friend_request('{{ friend.username }}',this)">
														<img height="22" src='{% static "img/22/list-add.svg" %}'>
													</button>
													<button class="border button d-flex delete m-1 rounded shadow-sm" type="submit" onclick="reject_friend_request('{{ friend.username }}',this)">
														<img class="icon" height="22" src="/static/img/22/list-remove.svg">
													</button>
												</div>
											{% endfor %}
											<div id="profile-list-friend" style="min-width: min-content;">
												{% for friend in friends %}
													<div class="d-flex" style="min-width: min-content;">
														<!--<img class="mx-1 my-auto object-fit-cover rounded-circle" height="22" src="{{ friend.get_image_profile_url }}" style="aspect-ratio: 1;" title="Away" width="22">-->
														<div class="m-1 p-1 w-100" style="min-width: min-content;">
															{{ friend.username }}
															{% if friend.is_online %}
																(online)
															{% endif %}
														</div>
														<button class="border button d-flex delete m-1 rounded shadow-sm" type="submit" id="deleteButton" onclick="delete_friend('{{ friend.username }}',this)">
															<img class="icon" height="22" src="/static/img/22/list-remove.svg">
														</button>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="bg-body-tertiary border-bottom d-flex p-2">
										<button class="border borderless-button d-flex mx-1 my-auto p-0 rounded" data-bs-slide-to="0" data-bs-target="#profile" type="button">
											<img class="m-1" height="22" src='{% static "img/22/go-previous.svg" %}'>
										</button>
										<h3 class="m-auto pe-none text-nowrap" id="profile-preferences-title">
											Preferences
										</h3>
									</div>
									<div class="m-2">
										<div class="d-flex">
											<div class="me-1 my-auto text-nowrap" id="profile-history-label">
												Match history:
											</div>
											<input checked class="ms-1 my-auto" id="profile-history-checkbox" type="checkbox">
										</div>
										<button class="border button d-flex m-1 ms-auto rounded shadow-sm w-100" data-bs-target="#password-change" data-bs-toggle="modal" type="button">
											<img class="me-1 ms-auto" height="22" src='{% static "img/22/dialog-password.svg" %}'>
											<div class="me-auto my-auto text-nowrap" id="profile-preferences-password">
												Change Password
											</div>
										</button>
										<button class="border button d-flex m-1 ms-auto rounded shadow-sm w-100" data-bs-target="#delete-confirm" data-bs-toggle="modal" type="button">
											<img class="me-1 ms-auto" height="22" src='{% static "img/22/edit-delete.svg" %}'>
											<div class="me-auto my-auto text-nowrap" id="profile-delete-label">
												Delete Account
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
					</ul>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
