{% load static %}
<div aria-hidden="true" aria-labelledby="register" class="modal fade" id="register" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<form class="bg-body border modal-content p-1 rounded" id="myForm">
			{% csrf_token %}
			<div class="modal-header p-1">
				<h2 class="m-1 pe-none" id="register-title">
					Register
				</h2>
			</div>
			<div class="m-1 modal-body p-0">
				<p style="color:red;" id="error-message"> </p>
				<div class="border d-flex flex-column frame m-1 p-0 rounded">
					<div class="d-flex overflow-hidden p-0 warning-banner" id="register-banner" style="max-height: 0">
						<div class="me-auto ms-1 my-auto pe-1 pe-none" id="register-banner-text">
						</div>
						<button class="border borderless-button d-flex p-0 rounded" id="register-banner-close" type="button">
							<img class="m-1" height="22" src='{% static "img/22/window-close.svg" %}'>
						</button>
					</div>
					<div class="d-flex m-3">
						<div class="d-flex flex-column">
							<div class="my-auto pe-none text-end" id="register-name-label">
								Username:
							</div>
							<div class="my-auto pe-none text-end" id="register-pass-label">
								Password:
							</div>
							<div class="my-auto pe-none text-end text-nowrap" id="register-pass2-label">
								Confirm password:
							</div>
						</div>
						<div class="d-flex flex-column w-100">
							<input class="border m-1 p-1 rounded w-100" id="register-name" name="username" type="text">
							<input class="border m-1 p-1 rounded w-100" id="register-pass" name="password" type="password">
							<input class="border m-1 p-1 rounded w-100" id="register-pass2" name="confirm_password" type="password">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer p-1">
				<button class="border button d-flex m-1 ms-auto rounded shadow-sm" data-bs-target="#login" data-bs-toggle="modal" type="button">
					<img class="me-1" height="22" src='{% static "img/22/dialog-cancel.svg" %}'>
					<div class="my-auto" id="register-close">
						Cancel
					</div>
				</button>
				<button class="border button d-flex m-1 rounded shadow-sm" type="submit">
					<img class="me-1" height="22" src='{% static "img/22/dialog-ok-apply.svg" %}'>
					<div class="my-auto">
						OK
					</div>
				</button>
			</div>
		</form>
	</div>
</div>
